body {
	margin: auto;
	max-width: 700px;
	min-width: 320px;
	font-size: 1.3vw;
}
.banner {
  border: 5px solid #d3d3d3;
  background-color: #eeeeee;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}
@media only screen and (max-width: 500px) {    /* phone */
	.banner {
		font-size: 1vw;
	}
}
